body {
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    background-color: #CBCBCB;
}

header {
    display: flex;
}

.game-title {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.score-timer {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.score, .timer {
    font-size: 1.5rem;
    padding-right: 2rem;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 10rem;
    height: 10rem;
    background-color: #BFA28C;
    border: 0.2rem solid #927662;
}

.box-text {
    font-weight: 800;
    font-size: 2rem;
}